<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
<link rel="shortcut icon" href="../favicon.ico"><link href="../css/common.css?ebddc5946f17f4b56212" rel="stylesheet"><link href="../css/500.css?ebddc5946f17f4b56212" rel="stylesheet"></head>
<body>
	<div class="main">
		<div class="error">
			<div class="error-hd">
				<div class="error-bg"></div>
				<div class="error-bunner"></div>
			</div>
			<div class="error-bd">
				<p>服务器出问题啦！<br />工程师们正在努力抢修，请稍后再试!</p>
			</div>
			<div class="error-ft">
				<a href="javascript:history.go(-1)">返回上一页</a><a href="./index.html">返回首页</a>
			</div>
		</div>
	</div>
	 <div class=back-top> <a href=javascript:;></a> </div> <div class=footer> <div class=wxcodebox> <div class=complaint1> </div> <div class=wx> <div class=imgbox> <div class=imgbox></div> <p>微信订阅号</p> </div> </div> <div class=wb> <div class=imgbox></div> <p>微博二维码</p> </div> <div class=complaint2> </div> </div> <div class=bottomlink-title></div> <div class=wrap> <ul class=links> </ul> <div class=copyright> <p> <span>版权所有：乌鲁木齐市旅游局</span> <span>地址：新疆乌鲁木齐市水磨沟区准葛尔路129号益民大厦B座18楼</span> </p> <p> <span>技术支持：<a href=http://www.daqsoft.com/ target=_blank>成都中科大旗软件有限公司</a></span> </p> </div> </div> </div> <script src=http://filealiyun.geeker.com.cn/ued/js/jquery-1.8.3.min.js></script> 
<script type="text/javascript" src="../js/base.js?ebddc5946f17f4b56212"></script><script type="text/javascript" src="../js/500.js?ebddc5946f17f4b56212"></script></body>
</html>