<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset=utf-8> <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1"> <meta name=format-detection content="telephone=no,email=no"> <meta name=viewport content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"> <meta name=keywords content=旅游网站集群平台> <meta name=description content=旅游网站集群平台> 
    <title>乌鲁木齐市旅游-冬季主题</title>
<link rel="shortcut icon" href="../favicon.ico"><link href="../css/common.css?ebddc5946f17f4b56212" rel="stylesheet"><link href="../css/topics-winter.css?ebddc5946f17f4b56212" rel="stylesheet"></head>
<body>
<div class="winter-bigbox">
    <div class="winter-banner"></div>
    <div class="winter-bodybox">
        <div class="winter-bodyboxtopbox ">

        </div>
        <div class="winter-box1 ddom box1"></div>
        <hr class="winter-hr ddom box2">
        <div class="winter-box2 "></div>
        <hr class="winter-hr ddom box3">
        <div class="winter-box3 "></div>
        <hr class="winter-hr ddom box4">
        <div class="winter-box4"></div>
        <hr class="winter-hr ddom box5">
        <div class="winter-box5"></div>
        <hr class="winter-hr ddom box6">
        <div class="winter-box6"></div>
        <hr class="winter-hr ddom box7">
        <div class="winter-box7"></div>
        <!--<hr class="winter-hr ddom box8">-->
        <!--<div class="winter-box8"></div>-->
        <!--<hr class="winter-hr ddom box9">-->
        <!--<div class="winter-box9"></div>-->
        <!--<hr class="winter-hr ddom box10">-->
        <!--<div class="winter-box10 "></div>-->
        <!--<hr class="winter-hr ddom box10">-->
        <hr class="winter-hr">
        <div class="winter-box11"></div>
    </div>
    <div class="winter-footer">
        <p>版权所有：乌鲁木齐市旅游局&nbsp;&nbsp;&nbsp;&nbsp;地址：新疆乌鲁木齐市水磨沟区准葛尔路129号益民大厦B座18楼 </p>
        <p>技术支持：<a href="http://www.daqsoft.com/" target="_blank">成都中科大旗软件有限公司</a></p>
    </div>
</div>
<div class="floatmenubox">
    <!--<div class="menuper"><i class="icon-menuper"></i></div>-->
    <div class="menuul-box">
        <ul class="menulistbox">
        </ul>
        <div class="gotopbox"><i class="icon-gotop"></i></div>
        <!--<div class="menunext"><i class="icon-menunext"></i></div>-->
    </div>

</div>
<script src="http://filealiyun.geeker.com.cn/ued/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="../js/base.js?ebddc5946f17f4b56212"></script><script type="text/javascript" src="../js/topics-winter.js?ebddc5946f17f4b56212"></script></body>
</html>